@model List<Ad>
@{
    ViewData["Title"] = "İlan Ekle";
}

<hr />
<h3>İlan Ekle</h3>
@Html.Raw(ViewData["Hata"])
<form method="post" action="Admin/AddAd">
    <div class="mb-3" style="width: 400px;">
        <input type="text" class="form-control" name="name" placeholder="Başlık">
        <br />
        <textarea class="form-control" name="detail" rows="3" placeholder="Detay"></textarea>
        <br />
        <input type="number" class="form-control" name="price" placeholder="Fiyat">
        <br />
        <input type="text" class="form-control" name="image" placeholder="Resim URL">
        <br />
        <button class="btn btn-primary">Ekle</button>
    </div>
</form>
<hr />
<br />

<h3>İlanlar</h3>
<table class="table" style="width: 800px;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Başlık</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Eklenme Tarihi</th>
            <th scope="col">Düzenle</th>
        </tr>
    </thead>
    <tbody>
        @{
            var count = 1;
        }
        @foreach (var ad in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@ad.Name</td>
                <td>@ad.Price.ToString("N") TL</td>
                <td>2024</td>
                <td>
                    <form method="post" action="/Admin/DeleteAd">
                        <input type="hidden" name="adName" value="@ad.Name" />
                        <button style="height: 30px; width: 100px;" type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>